html {
    width: 100%;
    height: 120%;
    font-size: 75%;
}



body {
    margin: 20px;
    padding: 0px;
    border: 0px;
    height: 100%;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: #0a263d;

  background: linear-gradient(0deg, #c0e2f9, #b2bfc8);

}
/*
section_head {
    left: 0px;
    background: #d611d1;

}
*/


header {
    top: 0;
    left: 0;

    margin: 0px;
    padding: 0px;
    border: 0px;
    position: fixed;
    width: 100%;
    height: 8%;
    text-align: left;





    margin-right: var(--removed-body-scroll-bar-size);
    display: flex;
    flex-direction: column;
    left: 0px;
    right: 0px;
    -webkit-box-align: center;
    /*
    align-items: center;
    */

    transition: background 400ms ease 0s;

    background: rgba(0,0,0,0.1);
    /* opacity: 0.5; */

    backdrop-filter: blur(2px);
}

.inner_header{
    margin: 0% 2%;

}


main{
    margin: 80px auto;
    height: 100%;
}


/*
*::first-letter {
    color: #145992;
}
*/

p {
  color: #134c7b;
}

a:link {
  text-decoration: none;
}

header:hover{
    /*
    background: rgba(0,0,0,0.15);
    */
    backdrop-filter: blur(3px);
}


a:hover {
    color: #1d71b6;
    text-decoration: none;
}

/* изменение при наведении*/
li:hover {
    /*
    color: #1d71b6;
    */

    text-shadow: #687486 0px 0px 10px;



    /*
    background: rgba(0,0,0,0.1);
    font-weight:bold
    */

    /* color: #fdc073; */
    /* opacity: 0.5; */
}

ul.mainmenu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
	font-size: 30px;
	overflow: hidden;
}
ul.mainmenu li {
	float: left;
	margin: 18px 40px 0 30px;
}

/*
ul.mainmenu li:hover {
    text-shadow: #FC0 1px 0 10px;
    text-decoration: none;
}

*/




ul.mainmenu li.logo {margin: 0;}
ul.mainmenu li.last {float: right;}


ul.pag1 {
	list-style: none;

	margin: 0px 0px 0px 0px;
	padding: 0;
	text-align: center;
	/*
	height: 60px;
	*/
	font-size: 20px;
	line-height: 40px;
	overflow: hidden;
}
ul.pag1 li {
	float: left;
	text-align: center;

	margin: 0px 0px 0px 0px;

}



/*
p:hover {
  background-color: #f67deb;
}
*/
/*
p {
  color: #134c7b;
}
*/

/*
hr {
  color: #fefbfe;
}
*/

.logo {
	background: url('../images/logo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}


.card {
    reverse:                false, /* reverse the tilt direction */
    max:                    1,     /* max tilt rotation (degrees) */
    startX:                 0,      /* the starting tilt on the X axis, in degrees. */
    startY:                 0,      /* the starting tilt on the Y axis, in degrees. */
    perspective:            1000,   /* Transform perspective, the lower the more extreme the tilt gets. */
    scale:                  2,      /*2 = 200%, 1.5 = 150%, etc.. */
    speed:                  300,    // Speed of the enter/exit transition
    transition:             true,   // Set a transition on enter/exit.
    axis:                   null,   // What axis should be enabled. Can be "x" or "y"
    reset:                  true,   // If the tilt effect has to be reset on exit.
    easing:                 "cubic-bezier(.03,.98,.52,.99)",    // Easing on enter/exit.
    glare:                  false,  // if it should have a "glare" effect
    "max-glare":            1,      // the maximum "glare" opacity (1 = 100%, 0.5 = 50%)
    "glare-prerender":      false,  // false = VanillaTilt creates the glare elements for you, otherwise
                                    // you need to add .js-tilt-glare>.js-tilt-glare-inner by yourself
    "mouse-event-element":  null,   // css-selector or link to HTML-element what will be listen mouse events
    gyroscope:              true,   // Boolean to enable/disable device orientation detection,
    gyroscopeMinAngleX:     -45,    // This is the bottom limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the left border of the element;
    gyroscopeMaxAngleX:     45,     // This is the top limit of the device angle on X axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the right border of the element;
    gyroscopeMinAngleY:     -45,    // This is the bottom limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the top border of the element;
    gyroscopeMaxAngleY:     45,     // This is the top limit of the device angle on Y axis, meaning that a device rotated at this angle would tilt the element as if the mouse was on the bottom border of the element;
}

.form-input {
    width: 300px;
    font-size: 16px;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button {
  display: flex;
  align-items: left;
  justify-content: center;
    min-width: 200px;
    font-size: 16px;
    margin: auto;
}
/*

.card {
position: relative;
width: 300px;
height: 100px;
color: white;
}
.card__front{
z-index: 1;
position: relative;
background-color: cyan;
height: 100%;
text-align: center;
backface-visibility: hidden;
transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
.card__back{
z-index: 0;
position: absolute;
top: 0;
width: 100%;
height: 100%;
text-align: center;
backface-visibility: hidden;
background-color: orange;
transform: rotateY(-180deg);
transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
}
.card:hover .card__back {
transform: rotateY(0deg);
z-index: 2;
}
.card:hover .card__front {
transform: rotateY(180deg);
z-index: -1;
}
*/

.button1 {
  height: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  /*
  background-color: transparent;
  */
  background: rgba(0,0,0,0.0);

    /* opacity: 0.5; */
/*
  backdrop-filter: blur(2px);
  */
}

.button1:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  width: 40px;

  margin: 0px 0px 0px 0px;

  height: 40px;
  float: left;

  text-decoration: none;

  text-align: center;
  transition: background-color .3s;
  border: 1px solid #ddd; /* Gray */
  display: inline-block;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}




.main_form_block{
    width: 100%;
    height: 15%;
    float: left;
}

.main_form{
    float: left;
    height: 100%;
    width: 30%;

    align-items: left;

  display: flex;
}

#id_word, #id_translation{
    background-color: #f4fafe;
    width: 90%;
    border: none;
    border-radius: 0px;
    resize: none;
    -webkit-transition: 0.5s;
    margin: 0px;
    padding: 5px;
    outline: none;

}

#id_word:focus, #id_translation:focus{
    background-color: #e4f3fd;
}



.button_translate{

    align-items: left;
    font-size: 16px;
    margin: auto;
    height: 100%;

}


.form_class_save_main{
    align: left;
    align-items: left;
    height: 50px;
}


.button_save{
    background-image: url("../images/star (3).png"); /* Путь к фоновому рисунку */
    background-position: center center; /* Положение фона */
    background-repeat: no-repeat;

    align: middle;
    align-items: center;
    margin: 0 auto auto 0;
    height: 50px;

    width: 50px;
    text-align: center;
    border: 0;

    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    /*
    border-radius: 100%;
    */
}
.button_save:hover{

    background-image: url("../images/star (4).png");
    opacity: 0.8;
}
.button_save:active {
  background-image: url("../images/star (4).png");
  transform: rotate(10deg)
}

.button_unsave{
    background-image: url("../images/star (4).png"); /* Путь к фоновому рисунку */
    background-position: left; center;  /* Положение фона */
    background-repeat: no-repeat;
    align: left;
    align-items: left;
    margin: 0 auto auto 0;
    height: 50px;

    width: 200px;
    text-align: center;
    border: 0;

    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    /*
    border-radius: 100%;
    */
}
.button_unsave:hover{

    background-image: url("../images/star (3).png");
    opacity: 0.8;
    height: 50px;
}
.button_unsave:active {
  background-image: url("../images/star (3).png");
  transform: rotate(10deg)
}

.button_unsave:hover::after {
    content: "Delete";
    width: 100px; /* Ширина подсказки */
    float: right;
    font-size: 1.0rem;

    background: transparent; /* Синий цвет фона */
    color: #fff; /* Цвет текста */

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3); /* Параметры тени */

    pointer-events: none; /* Подсказка */
    transition: 1s;

    /*
    content: attr(data-title);
    */
}







.main_history{
    margin: auto;
}







.ul_main_history {
	list-style: none;
	margin: 0;
	overflow: hidden;
}

