{% extends 'words/base.html' %}


{% block content %}
    <main>
        <div class="about_block">
<!--        <h1>{{ title }}</h1>-->
            Translator from English to Russian with history saving,
            the ability to correct the translation, as well as mark the
            words learned and test the learned words. Uses google translate api.
            Register to use main features

<!--        <ul>-->
<!--            {% for w in words %}-->
<!--            <li>-->
<!--                <h3>{{ w.word }}</h3>-->
<!--                <p>{{ w.translation }}</p>-->
<!--                <hr>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
        </div>
    </main>
{% endblock content %}
