{% extends 'words/base.html' %}


{% block content %}
    <main>
<!--        <h1>{{ title }}</h1>-->
<!--        <p>Main page-->
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            {{ form3 }}
            <p>
            <input type="submit" value=">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>">
<!--            <button type="submit">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>></button>-->
            <input type="button" onclick="alert('Hello World!')" value="Click Me!">
        </form>



<!--        <form action="{% url 'home' %}" method="post">-->
<!--            {% csrf_token %}-->
<!--            {{ form1 }}-->
<!--&lt;!&ndash;            <input type="submit" value="Submit">&ndash;&gt;-->
<!--            <button type="submit">>>>></button>-->
<!--        </form>-->

<!--        <form action="{% url 'home' %}" method="post">-->
<!--            {% csrf_token %}-->
<!--            {{ form2 }}-->
<!--        </form>-->





<!--        <ul>-->
<!--            {% for w in words %}-->
<!--            <li>-->
<!--                <h3>{{ w.word }}</h3>-->
<!--                <p>{{ w.translation }}</p>-->
<!--                <hr>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
    </main>
{% endblock content %}
