{% extends 'words/base.html' %}


{% block content %}
<main>
    <div class="login_all">
        <form  class="login_form" method="post">
            {% csrf_token %}
            {% for f in form %}
                <p>{{ f }}
                <div class="form-error">
                    {{f.errors}}
                </div>
            {% endfor %}

            <button class="login_button" type="submit">
                Log in
            </button>
        </form>
    </div>
</main>

{% endblock content %}