{% extends 'words/base.html' %}


{% block content %}
<main>
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
<!--            <div class="card" data-tilt>-->
<!--            {{ form.as_p }}-->
<!--            </div>-->
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }} </p>
                <div class="form-error">{{f.errors}}</div>
            {% endfor %}


            <button type="submit">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>></button>
<!--            <input type="submit" value="Submit">-->
        </form>

</main>
{% endblock content %}