{% extends 'words/base.html' %}

{% block content %}
<main>
<div class="saved">
    <form class="form_class_saved" action="{% url 'saved' %}" method="post">
        {% csrf_token %}
        <ul class="ul_saved">
            {% for w in page_obj %}
            <li class="li_saved">
                <button class="button_unsave" type="submit" name="delete_word" value={{w.pk}} ></button>
                <button class="main_history_word_button" type="submit" name="change_word" value={{w.pk}} >
                    <h5 class="main_history_word_h5">{{ w.word }}</h5>
                    {{ w.translation }}
                </button>
            </li>
            {% endfor %}
        </ul>
    </form>
</div>


<!--Pagination-->
<p></p>
{% if page_obj.has_other_pages %}
    <div class="center">
        <div class="pagination">
            <ul class="pag1">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}"><</a>
                </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li>
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% elif p >= page_obj.number|add:-4 and p <= page_obj.number|add:4 or forloop.first or forloop.last %}
                        <li>
                            <a href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">></a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
{% endif %}

</main>
{% endblock content %}
